@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: no-repeat;
    background-position: center;
    background-size: cover;
}


.form-box-sign{
    position: relative;
    width: 400px;
    height: 550px !important;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.label{
    top: -5px !important;
    color: rgb(27, 248, 123) !important; 
}


.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 20px;
    top: 16px;

}

.sended{
    color: rgb(255, 0, 0) !important;
    opacity: 0.4;

}

.notification{
    margin: 0px 0px 20px 0px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    max-width: 310px; 
    line-height: 20px;
}

.forget{
    margin: 10px 0 30px 0px  ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;

    &:hover{
        background-color: rgb(2, 255, 99);
    }
}

.message{
    position: absolute;
    font-size: 14px;
    color: #ff0000;
    text-align: center;
    margin: -20px 0px 30px 0px;

}

.required{
    position: absolute;
    font-size: 14px;
    color: #ff0000;
    text-align: center;
    margin: 10px 0px 30px 10px;
}

.blue{
    color: #48ff00 !important; 
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;

    &:hover{
        color: rgb(2, 255, 99);
    }
}
.register p a:hover{
    text-decoration: underline;
}

.loader {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    top:50%;
    left: 10%;
    transform: translateX(-50%);
  }
  
  .loader::before, 
  .loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate92523 2s infinite cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .loader::before {
    background-color: #75e2ff;
  }
  
  .loader::after {
    background-color: #ff8496;
    animation-delay: 1s;
  }
  
  @keyframes rotate92523 {
    0%, 100% {
      left: 35px;
    }
  
    25% {
      transform: scale(.3);
    }
  
    50% {
      left: 0%;
    }
  
    75% {
      transform: scale(1);
    }
  }

  .messageConfirm{
    padding: 0 10px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 40px;
    font-size: 18px;
    line-height: 20px;

    
  }
  .button {
    color: #000000;
    padding: 0.7em 1.7em;
    width: 180px;
    font-size: 18px;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }